<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>723573954814-pur055nfcnr7va0apnhlvqbj17b0hu2o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.723573954814-pur055nfcnr7va0apnhlvqbj17b0hu2o</string>
	<key>API_KEY</key>
	<string>AIzaSyBBtTReHoqM7E2HZhpgIOr843_sWdfqkyw</string>
	<key>GCM_SENDER_ID</key>
	<string>723573954814</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Fuze.HopeStudies</string>
	<key>PROJECT_ID</key>
	<string>hopestudies-6566f</string>
	<key>STORAGE_BUCKET</key>
	<string>hopestudies-6566f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:723573954814:ios:fd7f53d81075b59eec6daf</string>
</dict>
</plist>